
html body{ 
    background: url(galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  .row{
      background-color: gainsboro;
  }
button.submit{
/* background: #343a40; */
background:#6c757d;
color: fff;
}
button.submit:hover{
    background: #343a40;
}
p{
    font-size: medium;
}
h2{
    padding: 2%;
    
}
h2 , p{
    font-family: 'Open Sans Condensed', sans-serif;

}
input.messagebox{
    height: 75%;
}