
body{
    background-color: gainsboro;
    
}
button.submit{
background: #343a40;
color: fff;
}
button.submit:hover{
background:#6c757d;
}
p{
    font-size: medium;
}
h2{
    padding: 2%;
    
}
h2 , p{
    font-family: 'Open Sans Condensed', sans-serif;

}
input.messagebox{
    height: 75%;
}