
/* *{
   font-family: 'Open Sans Condensed', sans-serif;
} */
img{
    max-width: 300px;
    max-height: 300px;
}
body{
    background-color: gainsboro;
}
h1, h2, h3, p{
    font-family: 'Open Sans Condensed', sans-serif;
}

nav.item{
    text-align: right;
}
li.name{
    text-align: center;
    font-size: large;
}

footer {
    padding-top: 3px; 
    position: absolute;
    height: 20px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}
