
/* *{
   font-family: 'Open Sans Condensed', sans-serif;
} */
img{
    max-width: 300px;
    max-height: 300px;
}
/* MAKE NOTE OF BELOW */
html body{
    background: url(galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
div.row{
    background-color: gainsboro;
}

h1, h2, h3, p{
    font-family: 'Open Sans Condensed', sans-serif;
}

nav.item{
    text-align: right;
}
li.name{
    text-align: center;
    font-size: large;
}

footer {
    padding-top: 3px; 
    position: absolute;
    height: 20px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}