
img{
    max-width: 300px;
    max-height: 300px;
}
body{
    background-color: gainsboro;
}
nav{
    background-color: #778899;
}
/* div.row div.col-12{
    background-color: pink;
}
div.row .col-12.col-md-6.col-lg-3.py-1.bg-blue{
    background-color: blue;
} */